.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.room-controls {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 130px);
  gap: 5px;
  margin: 20px;
}

.cell {
  width: 130px;
  height: 130px;
  font-size: 24px;
  background: rgb(86, 151, 29);
  cursor: pointer;
  transition: background 0.3s;
}

.cell.empty:hover {
  background: #b93434;
}

.game-status {
  margin: 20px 0;
  font-size: 20px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: #4CAF50;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #b93434;
}

input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
